:root {
    interpolate-size: allow-keywords;
}

.uni-modal {
    position: absolute;
    color: #b30202;
    background-color: white;
    border: 2px solid #b30202;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 20px;
    border-radius: 10px;
    align-items: center;
    gap: 10px;
    transition: 0.2s ease-in-out;
    z-index: 20;
    display: none;
    overflow: hidden;
    white-space: nowrap;
    justify-content: center;
    font-size: 16px;
}

.uni-modal * {
    margin: 0;
    padding: 0;
}

.uni-modal-icon {
    height: 25px;
}

.uni-modal.show {
    animation: showModal 0.2s ease-in forwards;
}

.uni-modal.hide {
    animation: hideModal 0.4s ease-in forwards;
}


@keyframes showModal {
    from {
        width: 0;
        padding: 20px 0;
    }
    to {
        width: auto;
        padding: 20px 20px;
    }
}

@keyframes hideModal {
    from {
        width: auto;
        padding: 20px 20px;
    }
    to {
        width: 0;
        padding: 20px 0;
    }
}