body { 
    margin: 0;
    padding: 0; 
    background-image: url(Assets/wish-background-image.png);
    background-size: cover;
    backdrop-filter: blur(10px);
}

.background { 
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    position: relative;
}   

.currency-container { 
    position: absolute;
    top: 2%;
    right: 2%;
    width: 17vw; 
    height: 5vh;
    display: flex;
    align-items: center;
    gap: 6%;
}

.icon-cvsu1 { 
    width: 20%;
    opacity: 100%;
    position: relative;
}

.image1 {
    display: flex;
    align-items: center;
    position: absolute;
    left: 3%;
}

.icons1 { 
    width: 15%;
    aspect-ratio: 1/1;
}

.image2 { 
    position: absolute;
    left: 3%;
    display: flex;
    align-items: center;
}

.purchase { 
    height: 90%;
    border-radius: 50%;
    border: none;
    outline: none;
    position: absolute;
    right: 1%; 
    display: flex;
    align-items: center;
    background-color: #00df6d;
    aspect-ratio: 1/1;
}

.currency { 
    position: relative;
    font-weight: bold;
    color: white;
    display: flex;
    width: 100%;
    height: 70%;
    background-color: rgb(82, 82, 82, 0.5);
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
}

@font-face {
    font-family: Lexend;
    src: url(assets/Lexend-VariableFont_wght.ttf);
}

hr { 
    width: 95%;
    border: 1px solid #00df6d;
    outline: none;
}
* { 
    font-family: Lexend;
}
.title { 
    font-weight: bold;
    font-size: 2rem;
    color: #22ad66;
    margin-top: 2vh;
}

.payment-container { 
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 3%;
    gap: 7%;
}

.exchange:active { 
    transform: scale(.95);
}
.exchange:hover { 
    cursor: pointer;
    transform: translateY(-10px);
}

.exchange { 
    background-color: #fffced;
    aspect-ratio: 1/1;
    border-radius: 1rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    transition: 0.3s all;
}

.inner-container { 
    width: 100%;
    height: 100%;
    background-color: #f3ead3;
    border: 3px solid #cbc2ac;
    border-radius: .5rem;
    position: relative;
    display: flex;
    justify-content: center;
}

.payment-container img { 
    height: 6rem;
    width: 6rem;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.exchange-title { 

    position: absolute;
    bottom: 8%; 
    width: 80%;
    height: 20%;
    background-color: #00df6d;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    color: white;
}

.inner-container span { 
    position: absolute;
    bottom: 30%;
    color: black;
}

.confirmation-window-container { 
    position: absolute;
    background-color: #fffbef;
    height: 40vh;
    width: 30vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateX(15px);
    z-index: 3;
    border-radius: 15px;
    padding: 3rem;
    display: flex;
    align-items: center;
    opacity: 0;
    transition: 0.3s all; 
}

.confirmation-window-container.fade-in { 
    transform: translate(-50%, -50%) translateX(0);
    opacity: 1;
}

.confirmation-inner-container { 
    height: 100%;
    width: 100%;
    background-color: #f5ead8;
    border-radius: .7rem;
    border: 3px solid #dcd5be;
    display: flex; 
    flex-direction: column;
    position: relative;
}

#confirmation-title{ 
    font-size: 1.7rem;
    color: black;
    font-weight: bold;
    margin-top: 3%;
    width: 100%;
    display: flex;
    justify-content: center;
}


.product { 
    position: relative;
    display: grid;
    grid-template-columns: 1.5fr 4fr;
    padding: 3%;
}
.hero-product img { 
    width: 70%;
  
}

.hero-product { 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-title { 
    width: 100%;
    display: flex;
    justify-content: center;
}

.product-price { 
    display: flex;
    align-items: center;
    justify-self: end;
    padding-right: 10%;
    font-size: 1.5rem;
}

.payment-type-container { 
    font-size: 1rem;
    padding-left: 3%;
    width: calc(100%-6%);
    padding-right: 3%;
    height: 20%;
}

.button-container { 
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 3%;
    height: 50%;
    margin-top: 2%;
}

.button-container button { 
    width: 30%;
    height: 100%;
    background-color: transparent;
    border: 3px #cdc4afa1 solid;
    border-radius: 10px;
    outline: none;
    transition: 0.3s all;
}

.button-container button:hover { 
    border: 3px #00df6d solid;
    cursor: pointer;
}

.confirm-button { 
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 5%;
    height: 10%;
}

.confirm-button button { 
    width: 40%;
    height: 100%;
    border: none;
    outline: none;
    background-color: #00df6d;
    border-radius: 30px;
    color: white;
    transition: 0.3s all;
    border: 3px rgb(255, 255, 255, 0) solid;
}

.confirm:hover { 
    border: 3px rgb(255, 255, 255, 0.8) solid;
    cursor: pointer;
}

.confirm:active { 
    transform: scale(0.9);
}

.payment-type-buttons.active-button { 
    background-color: #00df6d;
}

.x-icon { 
    position: absolute;
    left: 2%;
    top: 1%;
}

.x-button { 
    aspect-ratio: 1/1;
    height: 5vh;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: #00df6d;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid rgba(255, 255, 255, 0);
    transition: 0.3s all;
}

.x-button svg { 
    width: 50%; 
}

.x-button:hover { 
    border: 3px solid rgb(255, 255, 255);
    cursor: pointer;
}

.x-button:active { 
    transform: scale(0.9);
}

.confirmation-window-outer { 
    position: absolute;
    background-color: rgba(0, 0, 0, 0.295);
    z-index: 2;
    width: 100vw;
    display: none;
    height: 100vh;
}

#payment-x { 
    position: absolute;
    background-color: #00df6d;
    outline: none;
    border: none;
    width: 5%;
    aspect-ratio: 1/1;
    top: 3%;
    right: 3%;
    border-radius: 50%;   
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #034d2600;
    transition: 0.3s all;
}


#payment-x svg { 
    width: 70%;
}

#payment-x:hover { 
    border: 3px solid #034d26a8;
    cursor: pointer;
}

#payment-x:active { 
    transform: scale(0.9);
}