* { 
    font-family: Lexend;
}

@font-face {
    font-family: Lexend;
    src: url(Assets/Lexend-VariableFont_wght.ttf);
}
body { 
    background-image: url(Assets/wish-background-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.banner-container { 
    width: 25vw;
    height: 10vh;
    position: relative;
    display: flex;
    margin-top: 3vh;
    margin-bottom: 6vh;
    gap: 4%
}

.banner-box { 
    background-color: rgb(255, 255, 255, 0.8);
    height: calc(100%-.5%);
    width: 100%;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    position: relative;
    transition: all 0.3s;
}


.banner-box:hover { 
    transform: scale(1.1);
}

#selected-banner { 
    width: 55vw;
    height: 59vh;
    background-color: rgb(255, 255, 255, .8);
    border-radius: 10px;
    background-image: url(Assets/banner-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}


.demy-container, .jayson-container, .james-container { 
    transition: 0.5s all;
    transform: translateX(15px);
    opacity: 0;
}



.demy-container.fade-in, .jayson-container.fade-in, .james-container.fade-in { 
    transform: translateX(0);
    opacity: 1;
}

.description { 
    transition: 0.5s all;
    transform: translateX(15px);
    opacity: 0;
}


.description.fade-in { 
    transform: translateX(0);
    opacity: 1;
}

.detail-buttons-container { 
    width: 25vw;
    height: 6vh;
    position: absolute;
    bottom: 5%;
    left: 3%;
    display: flex; 
    align-items: center;

}


.detail-buttons-container button:hover { 
    border: 3px rgb(255, 255, 255, 0.8) solid; 
}

.detail-buttons-container button:active { 
    transform: scale(0.9);
}

.detail-buttons { 
    width: 100%;
    height: 70%;
    border-radius: 20px;
    outline: none;
    border: 3px rgb(255, 255, 255, 0) solid;
    margin: 2%; 
    background-color: #00df6d;
    transition: 0.3s all; 
}


.wish-buttons-container { 
    width: 30vw;
    height: 10vh;
    position: absolute;
    right: 3%; 
    bottom: 5%;
    display: flex;
    align-items: center;
}

.wish-buttons {
    font-size: .9rem; 
    width: 100%;
    height: 60%;
    outline: none;
    border: none;
    margin: 2%;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 3px #00df6c00 solid;
    transition: 0.3s all;
    background-color: white;
}

.wish-buttons:hover {
    background-color: white;
    border: 3px #00df6d solid;
}

.wish-buttons:active { 
    transform: scale(0.9);
}
.currency-container { 
    position: absolute;
    top: 3%;
    right: 2%;
    width: 17vw; 
    height: 5vh;
    display: flex;
    align-items: center;
    gap: 6%;
}

.currency { 
    position: relative;
    font-weight: bold;
    color: white;
    display: flex;
    width: 100%;
    height: 70%;
    background-color: rgb(82, 82, 82, 0.5);
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
}

.icon-cvsu1 { 
    width: 25%;
    aspect-ratio: 1.5/1;
    opacity: 100%;
    position: relative;
}
.icon-cvsu2 { 
    width: 15%;
    aspect-ratio: 1.5/1;
    opacity: 100%;
}
.image1 {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0%;
}

.icons1 { 
    width: 15%;
    aspect-ratio: 1/1;
}

.image2 { 
    position: absolute;
    left: 3%;
    display: flex;
    align-items: center;
}

.wish-button-icon { 
    position: relative;
    left: -2%;
}

#hero-icon-demy { 
    width: 90%;
}

#hero-icon-james { 
    width: 93%;
}
.hero-icons { 
    position: absolute;
    bottom: 0; 
}

#hero-icon-jayson { 
    width: 115%;
}

.purchase { 
    height: 90%;
    border-radius: 50%;
    border: none;
    outline: none;
    position: absolute;
    right: 1%; 
    display: flex;
    align-items: center;
    background-color: #00df6d;
    aspect-ratio: 1/1;
}

.purchase:hover { 
    box-shadow: 0 0 5px 5px rgba(252, 252, 252, 0.582);
    transition: 0.3s all;
}

.slider-title {
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 8%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 100%;
    color: #00df6d;
    font-size: 1.3rem;
    font-weight: bold;
}

.purchase-cvsu-slider { 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) translateX(15px);
    width: 33vw;
    height: 45vh;
    border-radius: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    flex-direction: column;
    z-index: 101;
    opacity: 0;
    transition: 0.3s all;
}

.purchase-cvsu-slider.fade-in { 
    opacity: 1;
    transform: translate(-50%, -50%) translateX(0);
}

.slider-title hr { 
    width: 90%;
    opacity: 30%;
    color: #00df6d;
}
.hero-icon-cvsu-container {

    margin-top: 5%;
    height: 35%;
    width: 90%;
    display: flex; 
    background-image: linear-gradient(to right top, #00df6d, #00de9e, #00dbc4, #00d5dd, #1bcee9);
}

.hero-icon-cvsu-name { 
    display: flex;
    position: relative;
    font-size: 2rem;
    top: 4%;
    color: white;
    font-weight: 500;
    margin-top: 1%;
    flex-direction: column;
    width: 100%;
}

.hero-icon-cvsu-name .description { 
    font-weight: normal;
    font-size: 1rem;
}

.slider-container { 

    height: 100%;
    display: flex;
    align-items: center;
    width: 80%;
    position: relative;
    bottom: 5%;
}

.slider { 
    width: 100%;
    -moz-appearance: none;
    -webkit-appearance: none;
    height: 5%;
    background-color: #00df6d;
    border-radius: 10px;
}

.slider::-webkit-slider-thumb { 
    border: none;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
    background: rgb(255, 255, 255);
    height: 3vh;
    width: 1.5vw;
    border-radius: 50%;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}


.slider::-webkit-slider-thumb:hover { 
    box-shadow: 0 0 0 3px #00df6d,
                0 0 0 6px white; 
}

.slider::-webkit-slider-thumb:active { 
    box-shadow: 0 0 0 3px #00df6d,
                0 0 0 6px white; 
}

.slider::-moz-range-thumb { 
    border: none;
    outline: none;
    -moz-appearance: none;
    appearance: none;
    background: rgb(255, 255, 255);
    height: 3vh;
    width: 1.5vw;
    border-radius: 50%;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.slider::-moz-range-thumb:hover { 
    box-shadow: 0 0 0 3px #00df6d,
                0 0 0 6px white; 
}

.slider::-moz-range-thumb:active { 
    box-shadow: 0 0 0 3px #00df6d,
                0 0 0 6px white; 
}

.gem {
    display: flex;
    position: relative;

}

.jayson-title { 
    font-size: 2.3rem;
    margin-top: 1%;
    margin-left: 3%;
    font-weight: bold;
    width: 30%;
}

.jayson-title span { 
    color: #00df6d;
}
.currency-exchange { 
    background-color: rgb(0, 0, 0, .5);
    position: absolute;
    right: 10%;
    width: 20%;
    font-size: 1.1rem;
    height: 80%;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    align-items: center;
}

.icons-3-exchange { 
   height: 80%;
   width: 40%;
}

#min, #max { 
    margin: 3%; 
}

#amount-to-convert { 
    position: relative;
    font-size: 2rem;
    top: 8%;
    background-color: #00df6d;
    width: 20%;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    color: black;
}

.slider-buttons { 
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 4%;
    gap: 8%;
    
}

.slider-buttons button { 
    border: 3px solid rgba(255, 255, 255, 0);
    transition: 0.3s all; 
}

.slider-buttons button:hover { 
    border: 3px solid rgba(31, 77, 27, 0.637);
}

.slider-buttons button:active { 
    transform: scale(0.9); 
}

#purchase:hover { 
    background-color: #00df6d;
}
.purchase-buttons { 
    height: 100%;
    background-color: #00df6d;
    outline: none;
    border: none;
    width: 30%;
    border-radius: 30px;
    color: white;
    font-weight: bold;
}

.demy-container { 
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    display: none;
}

.demy-container img { 
    width: 100%;
    height: 70%;
}

.jayson-container img { 
    width: 80%;
}

.demy-hero-banner { 
    display: flex;
    justify-content: center;
    height: 70%;
    width: 30%;
    position: absolute;
    flex-direction: column;
    bottom: 15%;
    right: 20%;
}

.jayson-hero-banner { 
    display: flex;
    justify-content: center;
    height: 70%;
    width: 30%;
    position: absolute;
    flex-direction: column;
    bottom: 15%;
    right: 20%;
    align-items: center;
}

.jayson-name-container { 
    width: 100%;
    height: 23%;
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.full-name-demy { 
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}

.demy-name-container { 
    width: 100%;
    height: 23%;
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.demy-name-container .full-name-demy{ 
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}

.nickname-demy { 
    font-size: 1rem;
    color: white;
}

.student-list-stars { 
    display: flex;
    justify-content: center;
    gap: 1%;
    margin-top: 1%;
}

.student-list-stars img { 
    width: 7%;
}

.description span { 
    width: 80%;
    height: 40%;
    background-color: #00df6c8c;
    top: 30%;
    left: 3%;
    display: flex;
    align-items: center;
    margin-left: 10%;
    padding-left: 10%;
}

.guarantee-description span { 
    font-size: 1.1rem;
}

.design { 
    height: 100%;
    width: 5%;
    background-color: #00df6d;
    border-radius: 30px;
}

.description { 
    height: 40%;
    width: 40%;
    position: absolute;
    display: flex;
    top: 25%;
}
.gdescription { 
    margin-top: 3%;
    height: 40%;
    width: 50%;
    position: absolute;
    display: flex;
    top: 25%;
    font-size: 1rem;
}

.limited { 
    margin-top: 3%;
    padding-left: 10%;
}

.demy-title { 
    font-size: 2.3rem;
    margin-top: 1%;
    margin-left: 3%;
    font-weight: bold;
    width: 30%;
}

.demy-title span { 
    color: #00df6d;
}

.guarantee-description hr { 
    margin-left: 5%;
    margin-top: 3%;
    border: 3px #00df6d solid;
    border-style: none none dashed;
}
.time-limit { 
    position: absolute;
    bottom: 5%;
    left: 3%;
}

.jayson-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.james-container { 
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; 
    left: 0;
    display: none;
}

.james-hero-banner { 
    display: flex;
    justify-content: center;
    height: 84%;
    width: 30%;
    position: absolute;
    flex-direction: column;
    bottom: 12%;
    right: 20%;
}

.james-name-container { 
    width: 100%;
    height: 19%;
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.james-title { 
    font-size: 2.3rem;
    margin-top: 1%;
    margin-left: 3%;
    font-weight: bold;
    width: 30%;
}

.james-title span { 
    color: #00df6d;
}

.banner-box.active-banner { 
    transform: scale(1.1);
}

.obtainedCharacters { 
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    justify-content: center;
    align-items: center;
    display: none;
    background-image: url("Assets/inventory-background.png");
    background-size: cover;
}

.obtainedCharacters img { 
    opacity: 0;
    transform: scale(1.3);
    transition: all 0.3s ease-out;
}

.obtainedCharacters img.fade-in { 
    opacity: 1;
    transform: scale(1);
}


.error-container { 
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.267);
    z-index: 3;
    display: none;
    justify-content: center;
    align-items: center;
}

.inner-container { 
    width: 25vw;
    height: 30vh;
    background-color: #fffced;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    overflow: hidden; 
}

.inner-inner-container { 
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #f3ead3;
    border: 3px solid #cbc2ac;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.error-title { 
    margin-top: 1%;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.error-description { 
    margin-top: 10%;
}

.inner-inner-container hr { 
    width: 90%;
    margin: 0;
    border: 2px solid #0000002a;
}

.button-container { 
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    bottom: 3%;
    height: 20%
}

.button-inner-container { 
    margin-top: 2%;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 5%;
}

.button-inner-container button { 
    background-color: #00df6d;
    outline: none;
    border: none;
    height: 100%;
    color: white;
    font-weight: bold;
    width: 40%;
    border-radius: 30px;
    height: 100%;
    border: 3px solid rgba(255, 255, 255, 0);
    transition: 0.3s all;
}

.button-inner-container button:hover { 
    border: 3px solid rgb(255, 255, 255);
}

.button-inner-container button:active { 
    transform: scale(0.9);
}

#pull-animation { 
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 3;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    object-fit: cover;
}

.obtainedCharacters { 
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}


.conversion-outer-container { 
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: none;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.226);
}